.category {
    padding: 50px 0;
}
.category .inner {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.cate_wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#cate_list1 {
    margin-bottom: 3%;
}
#cate_list1,
#cate_list2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cate_iist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cate_iist > img {
    width: 25%;
    height: 25%;
}
.cate_iist > span {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .category {
        padding: 5% 2%;
    }
}
@media screen and (max-width: 760px) {
    .category {
        padding: 8% 2%;
    }
}
.cate_iist {
    width: 100%;
}
.cate_iist > span {
    font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
    .category {
        padding: 6% 2%;
    }
    .cate_iist {
        width: 100%;
    }
    .cate_iist > span {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 480px) {
    .category {
        padding: 4% 2%;
    }
    .cate_iist {
        width: 100%;
    }
    #cate_list1 {
        margin-bottom: 5%;
    }
    .cate_iist > span {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 430px) {
    .category .inner {
        padding: 4% 2%;
    }
}
@media screen and (max-width: 320px) {
    .category {
        padding: 3% 2%;
    }
}
