.join {
  position: relative;
  display: block;
  width: 100%;
}
.join .inner {
    width: 100%;
    height: 100%;
}
.joinbox {
  padding: 100px 0;
  position: relative;
  display: block;
  width: 100%;
  display: flex;
}
.joinleft {
  position: relative;
  display: block;
  width: 40%;
}
.jointitle {
  font-size: 23px;
  letter-spacing: 1.2;
  line-height: 1.6;
  margin-bottom: 20px;
}
.joinbtn {
  padding: 15px 35px;
  background-color: #a07bb9;
  color: white;
  border-radius: 7px;
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.joinright {
  position: relative;
  display: block;
  width: 60%;
  overflow: hidden;
  background-color: #f7f7f7;
  text-align: center;
  padding: 50px 0;
  font-size: 16px;
  border-radius: 7px;
}
.joinright .jointext {
  display: block;
  padding: 30px 0;
  font-size: 15px;
}
.joinright .swiper-button-prev,
.joinright .swiper-button-next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.1rem;
}
.joinright .swiper-button-prev:after,
.joinright .swiper-button-next:after {
    font-size: 1.65rem !important;
    font-weight: 600 !important;
    color: #a07bb9;
}
.joinright .swiper-pagination-bullet,
.joinright .swiper-pagination-bullet-active {
    display: inline-block;
    background-color: #333;
}
.joinright .swiper-pagination {
  padding: 30px 0px 50px 0px;
}
@media all and (max-width: 1024px){
  
}
@media all and (max-width: 760px){
  .joinbox {
    display: flex;
    flex-direction: column;
  }
  .joinleft {
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    padding: 50px 0;
    border-radius: 7px 7px 0 0;
  }
  .joinright {
    width: 100%;
    padding-top: 0;
    border-radius: 0 0 7px 7px;
  }
  .joinright .swiper-pagination {
    padding: 50px 0px;
  }
}
@media all and (max-width: 480px){
  
}
@media all and (max-width: 320px){
  
}