.teacher .inner {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  /* padding: 0 250px; */
}
.teacher h1 {
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
}
.teacher_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher_list {
  position: relative;
  width: calc(100 / 3);
  background: url("../images/back2.png") no-repeat center;
  background-size: cover;
  height: auto;
  padding: 50px 100px;
  /* padding-bottom: 50px; */
  /* border: 1px dotted #AE85C9; */
}
.teacher_list > img {
  width: 100%;
  height: 200px;
}
.teacher_list .teacher_info {
  margin-top: 10px;
}
.teacher_info h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
.teacher_info p {
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}
.teacher_info p b {
  font-size: 18px;
  color: #ae85c9;
}
.teacher_btn {
  text-align: center;
  margin-top: 10px;
}
.teacher_btn button {
  background-color: #fff;
  border: 2px solid #ae85c9;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.teacher_btn button:hover {
  background-color: #ae85c9;
  color: #fff;
}
.teacher_list::after {
  content: url("../images/crown.png");
  position: absolute;
  top: -20px;
  left: 130px;
  width: 50%;
  height: 50%;
  transform: rotate(-30deg);
  z-index: 9999;
}

/* 반응형 */
@media screen and (max-width: 1160px) {
    .teacher_list {
      /* width: calc(100% / 3);  */
      padding: 50px 80px; /* 패딩 크기 조정 */
    }

}
@media screen and (max-width: 1040px) {
    .teacher_list {
      /* width: calc(100% / 3);  */
      padding: 50px 70px; /* 패딩 크기 조정 */
    }

}
@media screen and (max-width: 980px) {
    .teacher_list { 
      padding: 50px 30px; /* 패딩 크기 조정 */
    }
    .teacher_info{
        white-space: nowrap;
    }
    .teacher_list::after {
        content: url("../images/crown.png");
        position: absolute;
        top: -10px;
        left: 70px;
        width: 50%;
        height: 50%;
        transform: rotate(-30deg);
        z-index: 9999;
      }
}

@media screen and (max-width: 768px) {
    .teacher_list {
      padding: 50px 10px; /* 패딩 크기 조정 */
    }
    .teacher_list img{
      width: 85%;
      height: 85%; 
    }
  }
  
@media screen and (max-width: 590px) {
    .teacher_list {
      padding: 50px 5px; /* 패딩 크기 더 조정 */
    }
    .teacher_info p{
        font-size: 14px;
    }
  }


@media screen and (max-width: 320px) {
    .teacher_list {
      padding: 50px 0px; /* 패딩 크기 더 조정 */
    }
    .teacher_info p{
        font-size: 14px;
    }
    .teacher_list img{
      width: 60%;
      height: 60%; 
    }
    .teacher_info > span, p, b{
      display: none;
  }
  .teacher_list::after {
      content: url("../images/crown.png");
      position: absolute;
      top: -10px;
      left: 70px;
      width: 50%;
      height: 50%;
      transform: rotate(-30deg);
      z-index: 9999;
    }
  }