.teacher{
  padding: 70px 0;
}
.teacher .inner {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.teacher h1 {
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
}
.teacher_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teacher_list {
  width:30%;
  background-color: #f7f7f7;
  height: auto;
  padding: 20px ;
  justify-content: space-around;
  border-radius: 10px;
  text-align: center;
  display: flex;
}
.teacher_img {
  width: 40%;
  height: auto;
  object-fit: cover;
}
.teacher_img > img{
  border-radius: 10px;
}
.teacher_list .teacher_info {
  margin-top: 10px;
}
.teacher_info{
  line-height: 1.2rem;
}
.teacher_info h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}
.teacher_info p {
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
}
.teacher_info p b {
  font-size: 18px;
  color: #ae85c9;
}
.teacher_btn {
  text-align: center;
  margin-top: 10px;
}
.teacher_btn button {
  background-color: #fff;
  border: 2px solid #ae85c9;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.teacher_btn > button:hover {
  background-color: #ae85c9;
  color: #fff;
}


/* 반응형 */
@media screen and (max-width: 1160px) {
    .teacher_list {
      width: calc(100% / 3); 
      padding: 50px 80px;
    }

}
@media screen and (max-width: 1040px) {
    .teacher_list {
      /* width: calc(100% / 3);  */
      padding: 50px 70px;
    }


}
@media screen and (max-width: 980px) {
    .teacher_list { 
      padding: 50px 30px;
    }
    .teacher_info{
        white-space: nowrap;
    }

}

@media screen and (max-width: 768px) {
    .teacher_list {
      padding: 50px 10px;
    }
    .teacher_list img{
      width: 85%;
      height: 85%; 
    }

}
@media screen and (max-width: 730px) {
  .teacher_list {
    padding: 50px 10px;
    text-align: center;
  }
  .teacher_list img{
    width: 85%;
    height: 85%; 
  }
  .teacher_info p , span{
    font-size: 13px;
}
}
  
  
@media screen and (max-width: 590px) {
    .teacher_list {
      padding: 50px 5px;
    }
    .teacher_info p{
        font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .teacher_list {
      width: calc(100% / 3);
      padding: 50px 5px; 
      text-align: center;
    }
    .teacher_info p{
        font-size: 14px;
    }
    .teacher_info > span{
      display: none;
    }
    .teacher_info > b{
      display: none;
    }
    .teacher_info > p{
      display: none;
    }
    .teacher_btn button ,span{
      font-size: 12px;
    }
    .teacher_btn span{
      display: none;
    }
  }
  @media screen and (max-width: 410px) {
    .teacher_list {
      padding: 50px 5px;
      text-align: center;
    }
    .teacher_info p{
        font-size: 14px;
    }
    .teacher_info > span{
      display: none;
    }
    .teacher_info > b{
      display: none;
    }
    .teacher_info > p{
      display: none;
    }
    .teacher_btn button ,span{
      font-size: 12px;
    }
    .teacher_btn span{
      display: none;
    }
  }
  @media screen and (max-width: 360px) {
    .teacher_list {
      padding: 50px 0px;
    }
    .teacher_info p{
        font-size: 14px;
    }
    .teacher_list img{
      width: 60%;
      height: 60%; 
    }
    .teacher_info > span{
      display: none;
    }
    .teacher_info > b{
      display: none;
    }
    .teacher_info > p{
      display: none;
    }

  }
@media screen and (max-width: 320px) {
    .teacher_list {
      padding: 50px 0px;
    }
    .teacher_info p{
        font-size: 14px;
    }
    .teacher_list img{
      width: 60%;
      height: 60%; 
    }
    .teacher_info > span{
      display: none;
    }
    .teacher_info > b{
      display: none;
    }
    .teacher_info > p{
      display: none;
    }
  }